# This is Git's per-user configuration file.
[user]
    email = travisoverby@gmail.com
    name = Travis
[push]
    default = upstream
[color]
    ui = auto
[core]
    whitespace = trailing-space,space-before-tab
[diff]
    renames = copies

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  lg = log --name-status --oneline
  id = log -1 --pretty=%h
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  pu = push -u
